/* reset do css */
* {
    margin: 0; /* Margem por fora do elemento */
    padding: 0; /* Margem dentro do elemento */
    box-sizing: border-box;
}

body {
    background-image: url('../img/freeBlue.jpg');
    background-size: auto 150vh;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
}

/* Se a tela tiver pelo menos 400px carregará os seguintes estilos */
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}


/* breakpoints */
@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

/* breakpoints */
@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #000000;
    position: fixed; /* Não é atingido pelo flex, fica por cima do resto do conteúdo */
    top: 0; /* Só funciona com position declarado */
    width: 100vw;
}

.menu li {
    list-style: none; /* Tira o estilo da lista */
}  

.menu ul {
    display: flex; /* Coloca como coluna */
    justify-content: space-around; /* Justifica Adicionando espaço entre as colunas inteiras*/
}

.menu a {
    display: block;
    padding: 10px 50px;    
}
.menu a:hover {
    background-color: #fff;
    filter: blur(0.1px);
}

a {
    color: teal;
    text-decoration: none; /* Tira sublinhado */
}

a:hover {
    text-decoration: underline; /* Mostra sublinhado quando passar o mouse sobre */
}

.site-subtitle, .site-title {
    color: whitesmoke;
    text-align: center;
    font-family: 'Sacramento', cursive;
}

.site-title {
    font-size: 4em;
}

.site-subtitle {
    font-style: italic;
    font-size: 2em;
    line-height: 1.8em;
}

.portifolio {        
    padding: 2em;
    height: 100vh;
}

.portifolio h2 {
    margin-bottom: 1.5em;
    font-size: 2em;
    color: whitesmoke;
}

.portifolio .grid {
    display: grid;
    gap: 2em; 
}

@media (min-width: 560px){
    .portifolio .grid {
        grid-template-columns: 240px 240px;
    }
}

@media (min-width: 880px){
    .portifolio .grid {
        grid-template-columns: repeat(3, 240px);
        align-content: center;
        justify-content: center;
        height: calc(100vh - 4em - 48px - 1.5em);
    }
}

@media (min-width: 1200px) {
    .portifolio .grid {
        gap: 5em;
    }
}

.portifolio figure {
    text-align: center;
}


.img-portifolio {
    height: 180px;
    width: 240px;
    object-fit: cover;
    object-position: bottom;
    border-radius: 10%;
}
